{% extends "base.html" %}
{% block content %}
<main>
    <section>
        <h1>Debug</h1>
        <textarea rows="5">{{ serialized_auth_token }}</textarea>
        <pre><code>{{ auth_token.header }}</code></pre>
        <pre><code>{{ auth_token.claims }}</code></pre>
        <pre><code>{{ handle.__dict__ }}</code></pre>
        <pre><code>{{ oauth_session.__dict__ }}</code></pre>
    </section>
    <section>
        <p><a href="/auth/atproto">New Login</a></p>
    </section>
</main>
{% endblock %}