<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Graze Social AIP</title>
    <meta name="description" content="Authentication, Identity, and Permissions Server" />

    <link rel="stylesheet" href="/static/pico.classless.blue.css" />
    <link rel="stylesheet" href="/static/pico.colors.min.css" />
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>