name: Create AIP Release
on:
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  release_aip:
    runs-on: ubuntu-latest
    name: create_release
    permissions:
      contents: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: setup_svu
        run: curl -kL https://github.com/caarlos0/svu/releases/download/v3.2.2/svu_3.2.2_linux_amd64.tar.gz | tar zx && mv svu /usr/local/bin/svu && chmod +x /usr/local/bin/svu

      - name: create_tag
        id: create_tag
        run: |
          echo "VERSION_TAG=$(svu next)" >> $GITHUB_ENV
          echo "VERSION_TAG=$(svu next)" >> $GITHUB_OUTPUT

      - name: create_release
        env:
          GH_TOKEN: ${{ secrets.DISPATCH_GH_TOKEN }}
        run: |-
          gh release create ${{ env.VERSION_TAG }} -t ${{ env.VERSION_TAG }} --generate-notes

      - name: repo_dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          repository: graze-social/turbo-deploy
          event-type: aip-release
          token: ${{ secrets.DISPATCH_GH_TOKEN }}
          client-payload: |-
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}",
              "version_tag": "${{env.VERSION_TAG}}",
              "pr_context": ${{toJson(github.event.pull_request)}}
            }
